<md-content layout="column" layout-fill flex>
    <header>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>

    </header>
    <div layout="column" layout-align="center center" class="md-whiteframe-2dp">
        <md-input-container md-no-float>
            <input ng-model="main.note.title" placeholder="Titulo">
        </md-input-container>

        <!--<md-input-container md-no-float>-->
            <!--<input ng-model="main.note.item[0]" placeholder="item">-->
        <!--</md-input-container>-->

        <div  ng-repeat="item in main.note.item track by $index">
            <md-input-container md-no-float layout="row">
                <md-checkbox ng-model="main.note.item[$index].done" aria-label="Done"></md-checkbox>
                <input  ng-keyup="main.removeEmpty($index)" ng-model="main.note.item[$index].value" placeholder="item">
            </md-input-container>
        </div>

        <!--<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.save()">-->
        <!--SALVAR-->
        <!--</md-button>-->

        <md-button class="md-raised" ng-click="main.save()">
            SALVAR         {{main.newItem | json}}
        </md-button>
        {{main.note | json}}

    </div>


    <div layout="row">

        <div>
            <p ng-if="main.notes.title">TITULO : {{main.notes.title}}</p>

            <div ng-repeat="list in main.notes.item">
                <p>ITEM : {{list}}</p>
            </div>
        </div>
    </div>


    <section class="jumbotron">
        <h1></h1>
    </section>
    <!--<p class="lead">-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
    <!--</p>-->
    <!--<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">-->
    <!--Splendid Toastr-->
    <!--</md-button>-->
    <!--<p>-->
    <!--With ♥ thanks to the contributions of-->
    <!--<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
    <!--</p>-->
    <!--</section>-->

    <!--<div class="techs" layout-align="center">-->
    <!--<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
    <!--<md-card-content>-->
    <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}"-->
    <!--alt="{{ awesomeThing.title }}">-->

    <!--<h3 class="md-title">{{ awesomeThing.title }}</h3>-->

    <!--<p>{{ awesomeThing.description }}</p>-->
    <!--</md-card-content>-->
    <!--<div class="md-action-buttons">-->
    <!--<md-button ng-href="{{ awesomeThing.url }}">Website</md-button>-->
    <!--</div>-->
    <!--</md-card>-->
    <!--</div>-->
</md-content>

