<md-dialog aria-label="note" md-theme="{{dialog.note.color}}" style="overflow-x: hidden">
  <md-dialog-content style="max-width:800px; overflow-x: hidden">
    <div style="padding: 20px; width: 570px">
      <md-input-container style="padding-bottom: 0px;" md-no-float>
        <input ng-model="dialog.note.title" ng-change="dialog.save()" placeholder="Titulo">
      </md-input-container>
      <div ng-repeat="(key, item) in dialog.note.item | orderBy:'done' track by $index  ">
        <div layout="row" style="width:100%">
          <md-input-container style="width:100%; padding-bottom: 0px" md-no-float layout="row">

            <md-icon style="color : red" ng-if="!item.value" md-svg-icon="add"></md-icon>
            <md-checkbox ng-if="item.value" ng-disabled="!item.value" ng-change="dialog.save()" ng-model="item.done" class="md-accent" style="margin: 0"
                         aria-label="done"></md-checkbox>
            <input style="width: 80%" class="md-accent" ng-change="dialog.save(); dialog.watch(item)"  ng-disabled="item.done"
                   ng-class="{'line-through' : item.done}"
                   ng-keyup="removeEmpty(item)" ng-model="item.value" placeholder="Item da lista">
          </md-input-container>
          <md-button style="height: 10px" ng-if="item.value" ng-click="dialog.deleteItem(item)">
                                 D
           </md-button>
        </div>

    </div>
  </md-dialog-content>
  <div class="md-actions" style="margin-right: 30px" layout="row">

    <!--<span flex></span>-->


    <md-input-container>
      <label>Color</label>
      <md-select ng-model="ctrl.userState" aria-label="color">
        <md-option id="select-color" disabled>
          <md-button class="md-fab md-primary" md-theme="white" aria-label="white" ng-click="dialog.alterColor('white')">
            <md-tooltip md-direction="bottom">White</md-tooltip>
          </md-button>
          <md-button class="md-fab md-primary" md-theme="red" aria-label="red" ng-click="dialog.alterColor('red')">
            <md-tooltip md-direction="bottom">Red</md-tooltip>
          </md-button>
          <md-button class="md-fab md-primary" md-theme="orange" aria-label="orange" ng-click="dialog.alterColor('orange')">
            <md-tooltip md-direction="bottom">Orange</md-tooltip>
          </md-button>
          <md-button class="md-fab md-primary" md-theme="yellow" aria-label="yellow" ng-click="dialog.alterColor('yellow')">
            <md-tooltip md-direction="bottom">Yellow</md-tooltip>
          </md-button>
        </md-option>
        <md-option id="select-color" disabled>
          <md-button class="md-fab md-primary" md-theme="grey" aria-label="grey" ng-click="dialog.alterColor('grey')">
            <md-tooltip md-direction="bottom">Grey</md-tooltip>
          </md-button>
          <md-button class="md-fab md-primary" md-theme="blue" aria-label="blue" ng-click="dialog.alterColor('blue')">
            <md-tooltip md-direction="bottom">Blue</md-tooltip>
          </md-button>
          <md-button class="md-fab md-primary" md-theme="teal" aria-label="teal" ng-click="dialog.alterColor('teal')">
            <md-tooltip md-direction="bottom">Teal</md-tooltip>
          </md-button>
          <md-button class="md-fab md-primary" md-theme="green" aria-label="green" ng-click="dialog.alterColor('green')">
            <md-tooltip md-direction="bottom">Green</md-tooltip>
          </md-button>
        </md-option>
      </md-select>
    </md-input-container>

    <md-button ng-click="dialog.delete()">
      Delete
    </md-button>

    <md-button ng-click="dialog.hide()" class="md-accent md-raised" md-theme="{{dialog.note.color}}"
               style="margin-left:20px;">
      Okay
    </md-button>
  </div>
</md-dialog>
